
body{
background-color: pink;
background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
background-position: center;
text-align: center;

color: white; 


}

.Interests{
        background-color:transparent;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}



.container {
        width: 100%;
        font-size:16;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }

.image-container {
        text-align: center;
        width: 100%;
}

h1{

text-shadow:1px 2px 2px white;
font-size:18;
}

h2{

font-family: Georgia;
font-size:20;
}

h3{
font-family:Calibri;
font-size:20;
}

h4{

text-shadow:1px 2px 3px pink;
font-family: Lucida Handwriting, Cursive;
font-size: 14;
}

p{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
}

h5{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: large;
}

.button{
background-color: white;
color: Black;
text-align: center;
margin: 4px 2px;
border-radius:20px solid Green;
cursor: pointer;
font-family: Lucida Console;
font-size: 20px;
}

.button:hover{
background-color: Black;
color: white;
}

.button:active{
background-color: pink;
color: white;
box-shadow: 0 5px grey;
}

.flip-card {
background-color: transparent;
width: 300px;
height: 600px;
perspective: 1000px;
}

.flip-card .inner {
position: relative;
width: 100%;
height: 100%;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-card .inner .front,
.flip-card .inner .back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.flip-card .inner .front {
background-color: black;
}

.flip-card .inner .back {
background-color: black;
color: white;
transform: rotateY(180deg);
}

.flip-card:hover .inner {
transform: rotateY(180deg);
}
